<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MisoArreum</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    
    <!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

    <div class="container">

        <a href="#" class="navbar-brand"> <span >Miso</span>Areu</a>
        <button class="navbar-toggler" type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navbarS"
           aria-controls="navbarS"
           aria-expanded="false"
           aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarS">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               
                 <li class="nav-item">
                    <a href="#" class="nav-link">Servicios</a>
                 </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">Registro</a>
                 </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">Inicio de Sección</a>
                 </li>
            </ul>

        </div>
        </div>
</nav>






    <header id="header">
        <h1>INVENTARIO</h1>
    </header>

    <main>
        <div class="contenedor">
            <!-- Añadir -->
            <div class="añadir">
                <h2>Añadir Nuevo Producto</h2>
                <form>
                    <label>Nombre del producto</label>
                    <input type="text" id="nameAdded" name="nombreDelProducto">

                    <label>Descripcion del Producto</label>
                    <input type="text" id="descriptionAdded" name="descripcionDelProducto">

                    <label>Valor del producto</label>
                    <input type="number" id="valueAdded">

                    <label>Existencia</label>
                    <input type="number" id="existAdded">

                    <label>Url Imagen</label>
                    <input  type="text" id="imageAdded">

                    <input disabled class="button" type="button" id="btnAdded" value="Añadir">
                </form>
            </div>
            <!-- Editar -->
            <div class="editar">
                <h2>Editar</h2>
                <form>
                    <label>Nombre del producto</label>
                    <select id="productoEditar">
                        <option value="">---</option>
                    </select>

                    <label>Atributo</label>
                    <select id="atributoEditar">
                        <option value="">---</option>
                    </select>

                    <label>Nuevo valor</label>
                    <input type="text" id="nuevoAtributo">

                    <input class="button" type="button" id="botonEditar" value="Editar">
                </form>
            </div>

            <!-- Eliminar -->
            <div class="eliminar">
                <h2>Eliminar</h2>

                <form>
                    <label>Nombre del producto</label>
                    <select id="productoEliminar">
                        <option value="">---</option>
                    </select>
                    <input class="button" type="button" id="botonEliminar" value="Eliminar">
                </form>
            </div>
        </div>

        <!-- Mostrar el mensaje -->
        <div class="contenedorMensaje">
            <div id="mensaje"></div>
        </div>

        <!-- Productos -->
        <div class="contenedorProductos">
            <h2>Productos</h2>
            <div class="mostrarProductos" id="mostrarProductos">
                
            </div>
        </div>
        </div>
    </main>

    <script src="index.js"></script>
</body>

</html>