<!DOCTYPE html>
<html lang="en">
<head>
    
 <!-- METADATOS -->
 <meta charset="UTF-8">
 <meta name="author" content="Maria Mero">
 <meta name="description" content="Portafolio de desarrollo">
 <meta name="keywords" content="Tienda Olnline">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



    <title>Registro</title>
    <!-- nuevo registro -->

 

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="imagsignup/logoifi.png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Icono  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

     <!-- ///// -->
    

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity=" sha384-9aIt2nRpC12Uk9gS9baD1411NQApFmC26EMAOH8WgZ15MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

   
      
     <!-- CSS -->
    <link rel="stylesheet" href="index.css">

     <!-- SCRPT -->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>






<body>
    <!-- BARRA DE NAVEGACION -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="container">

            <a href="#" class="navbar-brand"> <span class="text-primary">Playa</span>Code</a>
            <button class="navbar-toggler" type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarS"
               aria-controls="navbarS"
               aria-expanded="false"
               aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarS">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                       <a href="#" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Nosotros</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link">Servicios</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link">Portafolio</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link">Equipo</a>
                     </li>
                </ul>

            </div>
            </div>
</nav> -->

<!-- 
BARRA DE NAVEGACION OFICIAL -->
<!-- BARRA DE NAVEGACION oficial-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

    <div class="container">

        <a href="../home/index.html" class="navbar-brand"> <span >Miso</span>Areu</a>
        <button class="navbar-toggler" type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navbarS"
           aria-controls="navbarS"
           aria-expanded="false"
           aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarS">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               
                 <li class="nav-item">
                    <a href="../home/index.html" class="nav-link">Inicio</a>
                 </li>
                 <li class="nav-item">
                    <a href="../blog/index.html" class="nav-link">Blog</a>
                 </li>
                 <li class="nav-item">
                    <a href="../login/index.html" class="nav-link">Iniciar Sección</a>
                 </li>
            </ul>

        </div>
        </div>
</nav>














    <div id="notification" class="fixed top-20 left-0 right-0">
    </div>

    <div id="main-container">
        <div id="image-login">
            <img src="/images/RLO.png" alt="main-image">
        </div>

        <form id="form">
            <div class="content-form">
                <label for="name-input">
                    Nombre <span class="span-content">*</span>
                </label>
                <input
                 type="text" 
                 id="name-input" 
                 name="name-input" 
                 autocomplete="off"
                 placeholder="Maria Mero"
                 >
                 <p class="content-p">Su nombre y apellido empezando en mayúsculas</p>
            </div>

            <div class="content-form">
                <label for="email-input">
                    Correo <span class="span-content">*</span>
                </label>
                <input
                 type="email" 
                 id="email-input" 
                 name="email-input" 
                 autocomplete="off"
                 placeholder="ejemplo@correo.com"
                 >
                 <p class="content-p">El correo es requerido.</p>
            </div>

            <div class="content-form">
                <label for="password-input">
                    Contraseña <span class="span-content">*</span>
                </label>
                <input
                 type="password"  
                 id="password-input" 
                 name="password-input" 
                 autocomplete="off"
                 placeholder="********"
                 >
                 <p class="content-p">
                    Debe tener al menos un número y letras <br>
                    Debe tener al menos 8 caracteres
                </p>
            </div>

            <div class="content-form">
                <label for="match-input">
                    Confirmar contraseña <span class="span-content">*</span>
                </label>
                <input
                 type="password"  
                 id="match-input" 
                 name="match-input" 
                 autocomplete="off"
                 placeholder="********"
                 >
                 <p class="content-p">
                    Debe coincidir con la contraseña.
                </p>
            </div>

            <button id="form-btn" disabled>
            <div id="spinner-container">
                <div class="spinner-sm"></div>
              </div>
              <span id="button-text">Registrar</span>
            </button>
        </form>
    </div>


    <!-- FOOTER -->

    
<footer class="bg-light text-dark pt-5 pb-4"> 
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

           
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
               <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">Sobre Nosotros</h5>
               <hr class="mb-4">
               <p> En MISOAREU celebramos la belleza y la moda de la mujer moderna.Nuestro compromiso es ofrecer a todas las mujeres la oportunidad de expresar su estilo único con prendas de alta calidad y últimas tendencias. Desde 2023, nos enorgullece vestir a mujeres seguras, audaces y apasionadas por la moda. Únete a nosotros y descubre tu estilo en cada detalle.".</p>
    
             </div>
    
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">HORARIO</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Lunes a Jueves--</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 9:00pm</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Viernes a Domingo-- </a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 8:30pm</a> 
                </p>
               
            </div>


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">INFORMACIÓN</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Preguntas Frecuentes </a> 
                    <!-- metodos de pago -->
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Términos y Condiciones </a> 
                </p>
                
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">CONTACTO</h5>
                <hr class="mb-4">
                <p>
                   <li class="fas fa-home mr-3"> </li>Caracas-Venezuela <br>Centro Comercial MultiPlaza,Nivel 1 <br> Te esperamos!!
                </p>
                <p>
                    <li class="fas fa-envelope mr-3"></li> misoareum01@gmail.com
                 </p>
                 <p>
                    <li class="fas fa-phone mr-3"></li>+58 0414-127-368-9
                 </p>
                 <p>
                    <li class="fas fa-print mr-3"></li>+012 3456789
                 </p>
                 
            </div>

            <hr class="mb-4">
            <div class="row d-flex justify-content-center">
               <div>
                 <p>
                    Copyright 2023 All Rigthts Reserved By:
                    <a href="#" style="text-decoration: none;">
                       <strong class="text-info text-black"> MariaMero</strong>
                    </a>
                 </p>
               </div>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="text-center">


                    <ul class="list-unstyled">
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-facebook"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-twitter"></i> </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-instagram"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-youtube"></i> </a>
                        </li>
                    </ul>

                </div>
            
            </div>
            

    
        </div>
    
    </div>
    
</footer>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   


    <script type="module" src="../components/notification.js"></script>
    <script type="module" src="index.js"></script>
</body>
</html>