<!DOCTYPE html>
<html lang="en">

<head>
   <!-- METADATOS -->
   <meta charset="UTF-8">
   <meta name="author" content="Maria Mero">
   <meta name="description" content="Portafolio de desarrollo">
   <meta name="keywords" content="Tienda Olnline">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- TITULO -->
    <title>MisoAreu</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
   <!-- FAVICON -->
     <link rel="icon" type="image/x-icon" href="imgpublicidad/logoifi.png">
     <!-- Bootstrap -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <!-- Icono  -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    

       <!-- ///// -->
    

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity=" sha384-9aIt2nRpC12Uk9gS9baD1411NQApFmC26EMAOH8WgZ15MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">




    <!-- CSS -->
     <link href="style0.css" rel="stylesheet" type="text/css">
     <link href="style1.css" rel="stylesheet" type="text/css">
     <link href="style2.css" rel="stylesheet" type="text/css">
     <link href="style3.css" rel="stylesheet" type="text/css">
     



    <!-- Tipografia 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">


    <!-- Tipografia 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">





    <!-- Tipografia 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

    <!-- LINKS DE SLIDER -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</head>

<body>
    <!-- <header id="header">
        <h1> <a href="">MisoAreu</a> </h1>
        <div class="carrito1">
            <img id="carrito" class="carrito" src="/img/carrito-de-compras.png" alt="">
            <div id="numero"></div>
        </div>
    </header>  -->


    <!-- <header id="header">




      <h1> <a href="">MisoAreu</a> </h1>
      <div>
          <img id="carrito" class="carrito" src="/img/carrito-de-compras.png" alt="">
          <div id="numero"></div>
      </div> 


    >

    <!-- BARRA DE NAVEGACION -->


<!-- BARRA DE NAVEGACION oficial-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

  <div class="container">

      <a href="../home/index.html" class="navbar-brand"> <span >Miso</span>Areu</a>
      <button class="navbar-toggler" type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarS"
         aria-controls="navbarS"
         aria-expanded="false"
         aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarS">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
             
               <li class="nav-item">
                  <a id="btn-home" class="nav-link">Inicio</a>
               </li>
               <li class="nav-item">
                  <a id="btn-blog" class="nav-link">Blog</a>
               </li>
               <li class="nav-item">
                  <a id="btn-signup" class="nav-link">Registro</a>
               </li>
          </ul>

      </div>
      </div>
</nav>








<!-- */SLIDES/* -->

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  

  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="imgpublicidad/carruselnnn.png" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption top-0 mt-4">
         <p class="mt-5 fs-3 text-uppercase">NEW</p>
        <h1 class="display-1 fw-bolder text-capitalize">  Ya Disponible</h1> 
        
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="imgpublicidad/carruselnn.png" class="d-block w-100 c-img" alt="Slide 2">
      <div class="carousel-caption top-0 mt-4">
         <p class="text-uppercase fs-3 mt-5">OVERSIZE</p>
        <p class="display-1 fw-bolder text-capitalize">SALE</p> 
       
      </div>
    </div>
    <div class="carousel-item c-item">
      <!-- /*ubicacion de las fotos*/ -->
      <img src="imgpublicidad/carruseln1.png" class="d-block w-100 c-img" alt="Slide 3">
      <div class="carousel-caption top-0 mt-4">
         <p class="text-uppercase fs-3 mt-5">ATENCIÓN</p>
        <p class="display-1 fw-bolder text-capitalize">Beautiful Mons Jeans</p> 
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- <h2>Productos</h2> -->



    



<!-- 
    CARDS -->


    <a class="links" href="#">
    <main>
        <div id="contenedor" class="contenedor">
        </div>
        
    </main>
    </a>
    
    <!-- <div id="contenedorCompra">
        <div class="informacionCompra" id="informacionCompra">
            <h2>Compras a cancelar</h2>
            <p class="x" id="x">x</p>
        </div>

        <div class="productosCompra" id="productosCompra"></div>
        <div class="total" id="total"></div>
        <button>Finalizar Compra</button>
    </div> -->


    
<!-- COLLAGE -->

<section class="arrivals">
    <div class="section__container arrivals__container">
      <div class="section__header">
        <h3 class="section__title">NEW</h3>
        <div class="arrivals__nav">
          <span>Joyeria Ave Maria</span>
          <span>Jeans</span>
          <span>Lentes</span>
          <span>Carteras</span>
          
        </div>
      </div>
      <div class="arrivals__grid">
        <div class="arrivals__image">
          <img src="imgpublicidad/Historia de Instagram Collage Accesorios Minimalista Beige (3).png" alt="arrivals" />
        </div>
        <div class="arrivals__image">
          <img src="imgpublicidad/White Minimalist New Arrival Instagram Post.png" alt="arrivals" />
        </div>
        <div class="arrivals__image">
          <img src="imgpublicidad/Inspiring Outfits - Instagram Post  (3).png" alt="arrivals" />
        </div>
        <div class="arrivals__image">
          <img src="imgpublicidad/Inspiring Outfits - Instagram Post  (9).png" alt="arrivals" />
        </div>
        <div class="arrivals__image">
          <img src="imgpublicidad/Blue Bold Fashion Product Introduction Instagram Post (2).png" alt="arrivals" />
        </div>
      </div>
    </div>
  </section>



  <!-- OFERTA -->

  <section class="banner__2">
    <div class="section__container banner__2__container">
      <p>SUPER SALE</p>
      <h2>UP TO 20%</h2>
      <div class="countdown">
        <div class="square">
          <span>10</span>
          <span>DÍASS</span>
        </div>
        <div class="square">
          <span>21</span>
          <span>HRS</span>
        </div>
        <div class="square">
          <span>15</span>
          <span>MINS</span>
        </div>
        <div class="square">
          <span>28</span>
          <span>SEC</span>
        </div>
      </div>
      <button>SHOP NOW</button>
    </div>
  </section>



  <!-- BLOG -->

  <section class="blog">
    <div class="section__container blog__container">
      <div class="section__header">
        <a href=""> <h3 class="section__title">ACTUALIZATE</h3></a>  <h3 class="section__title"> Encuentra más tips en nuestro Blog  </h3>
      </div>
      <div class="blog__grid">
        <div class="blog__card">
          <img src="imgpublicidad/Inspiring Outfits - Instagram Post  (2).png " alt="blog" />
          <div class="blog__details">
            <h4>Las claves del estilo</h4>
            <p>
              El color marrón se obtiene por la mezcla de los tres colores primarios (azul, rojo y amarillo). Es un color muy presente
              en la naturaleza y en los estudios sobre psicología del color suele estar asociado a la neutralidad. Hoy queremos
              contarte cómo combinar el color marrón como las que más saben de moda. </p>
              <a href="https://lookiero.es/blog/15-tendencias-otono-invierno-2023-2024/"><span>Leer más</span></a>
          </div>
        </div>
        <div class="blog__card">
          <img src="imgpublicidad/TIPS4.png" alt="blog" />
          <div class="blog__details">
            <h4>Tendencias de Otoño-Invierno 2023</h4>
            <p>
              Se acerca la temporada de chocolate caliente y estamos ansiosos por darle vida a nuestros outfits con un toque ¡de
              marrón intenso! Como nos inspiran Coach, 16Arlington y Helmut Lang, este tono puede ser increíblemente elegante y, al
              mismo tiempo, expresar una feminidad madura y segura de sí misma. Es la paleta perfecta para la mujer que está lista
              para conquistar el mundo con su estilo impecable y su actitud arrolladora. Así que preparemos nuestros armarios para
              abrazar este tono tan sofisticado y lleno de confianza. ¡Vamos a lucir como verdaderas reinas del otoño!  </p>
              <a href="https://www.mr-beam.org/es/blogs/news/colores-de-moda-estas-son-las-tendencias-de-color-2023"><span>Leer más</span></a>
          </div>
        </div>
        <div class="blog__card">
          <img src="imgpublicidad/trendfarben.webp" alt="blog" />
          <div class="blog__details">
            <h4>Colores de tendencia: se presentan las tendencias de color del año 2023.</h4>
            <p>
              Uno de los colores de tendencia que no debe faltar, especialmente en este verano, es el encantador tono lila . - La
              última tendencia del verano . Recuerda a los característicos campos de lavanda de la Provenza y promete una actitud
              puramente francesa ante la vida. Si quieres quedarte en el nicho de los pasteles a la hora de decorar tus habitaciones,
              puedes elegir un rosado delicado además del crema.  </p>
              <a href="https://www.mr-beam.org/cdn/shop/articles/trendfarben-farbtrends-2023.jpg?v=1685953825"><span>Leer más</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- 
FOOTER2 -->


<footer class="bg-light text-dark pt-5 pb-4"> 
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

           
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
               <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">Sobre Nosotros</h5>
               <hr class="mb-4">
               <p> En MISOAREU celebramos la belleza y la moda de la mujer moderna.Nuestro compromiso es ofrecer a todas las mujeres la oportunidad de expresar su estilo único con prendas de alta calidad y últimas tendencias. Desde 2023, nos enorgullece vestir a mujeres seguras, audaces y apasionadas por la moda. Únete a nosotros y descubre tu estilo en cada detalle.".</p>
    
             </div>
    
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">HORARIO</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Lunes a Jueves--</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 9:00pm</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Viernes a Domingo-- </a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 8:30pm</a> 
                </p>
               
            </div>


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">INFORMACIÓN</h5>
                <hr class="mb-4">
                <p>
                  <a href="../metodos/index.html" class="text-dark" style="text-decoration:none">Preguntas Frecuentes </a> 
                    <!-- metodos de pago -->
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Términos y Condiciones </a> 
                </p>
                
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">CONTACTO</h5>
                <hr class="mb-4">
                <p>
                   <li class="fas fa-home mr-3"> </li>Caracas-Venezuela <br>Centro Comercial MultiPlaza,Nivel 1 <br> Te esperamos!!
                </p>
                <p>
                    <li class="fas fa-envelope mr-3"></li> misoareum01@gmail.com
                 </p>
                 <p>
                    <li class="fas fa-phone mr-3"></li>+58 0414-127-368-9
                 </p>
                 <p>
                    <li class="fas fa-print mr-3"></li>+012 3456789
                 </p>
                 
            </div>

            <hr class="mb-4">
            <div class="row d-flex justify-content-center">
               <div>
                 <p>
                    Copyright 2023 All Rigthts Reserved By:
                    <a href="#" style="text-decoration: none;">
                       <strong class="text-info text-black"> MariaMero</strong>
                    </a>
                 </p>
               </div>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="text-center">


                    <ul class="list-unstyled">
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-facebook"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-twitter"></i> </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-instagram"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-youtube"></i> </a>
                        </li>
                    </ul>

                </div>
            
            </div>
            

    
        </div>
    
    </div>
    
</footer>
























    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  

</body>

</html>