<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style3.css">
    <title>MisoAreu</title>

    <!-- Tipografia 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">


    <!-- Tipografia 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- LINKS DE SLIDER -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</head>

<body>
    <!-- <header id="header">
        <h1> <a href="">MisoAreu</a> </h1>
        <div class="carrito1">
            <img id="carrito" class="carrito" src="/img/carrito-de-compras.png" alt="">
            <div id="numero"></div>
        </div>
    </header> -->
    <header id="header">
      <h1> <a href="">MisoAreu</a> </h1>
      <div class="carrito1">
          <img id="carrito" class="carrito" src="/img/carrito-de-compras.png" alt="">
          <div id="numero"></div>
      </div>

      <!-- BOTONES -->
      <nav class="navbar navbar-transparent bg-light">
        <form class="container-fluid justify-content-start">
          <button id="btn-signup" class="btn btn-outline-dark me-2" type="button">Registrame</button>
          <button id="btn-login" class="btn btn-sm btn-outline-dark" type="button">Acceder</button>
        </form>
      </nav>
  </header>

    <!-- */SLIDES/* -->

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
    
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img src="imgpublicidad/carruseln1 .png" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
               <p class="mt-5 fs-3 text-uppercase">NEW</p>
              <h1 class="display-1 fw-bolder text-capitalize">Beautiful Mons Jeans</h1> 
              
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="imgpublicidad/carruselnn.png" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
               <p class="text-uppercase fs-3 mt-5">OVERSIZE</p>
              <p class="display-1 fw-bolder text-capitalize">SALE</p> 
             
            </div>
          </div>
          <div class="carousel-item c-item">
            <!-- /*ubicacion de las fotos*/ -->
            <img src="imgpublicidad/carruselnnn.png" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
               <p class="text-uppercase fs-3 mt-5">ATENCIÓN</p>
              <p class="display-1 fw-bolder text-capitalize">Ya Disponible</p> 
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

   <!-- GRID DE IMAGENES -->

   <div class="grid-container">
    <div class="item item1">Item 1</div>
    <div class="item item2">Item 2</div>
    <div class="item item3">Item 3</div>
    <div class="item item4">Item 4</div>
</div>






<!-- 
    CARDS -->
    <a class="links" href="#">
    <main>
        <div id="contenedor" class="contenedor"> </div>
        
    </main>
    </a>
    
    <div id="contenedorCompra">
        <div class="informacionCompra" id="informacionCompra">
            <h2>Compras a cancelar</h2>
            <p class="x" id="x">x</p>
        </div>

        <div class="productosCompra" id="productosCompra"></div>
        <div class="total" id="total"></div>
        <button>Finalizar Compra</button>
    </div>






<!-- FOOTER -->


    <script src="main.js"></script>
</body>

</html>