<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MISOAREU-pago</title>
    

    
     <!-- FAVICON -->
     <link rel="icon" type="image/x-icon" href="images/logoifi.png">
    <!-- All CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">



     <!-- ///// -->
    

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity=" sha384-9aIt2nRpC12Uk9gS9baD1411NQApFmC26EMAOH8WgZ15MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">



    <link rel="stylesheet" href="style.css">
</head>


<body>

    
    
    <!-- BARRA DE NAVEGACION -->

 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

    <div class="container">

        <a href="#" class="navbar-brand"> <span >Miso</span>Areu</a>
        <button class="navbar-toggler" type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navbarS"
           aria-controls="navbarS"
           aria-expanded="false"
           aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarS">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               
                
                 <li class="nav-item">
                    <a href="#" class="nav-link">INICIO</a>
                 </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">BLOG</a>
                 </li>
            </ul>

        </div>
        </div>
</nav> -->










    <!-- FORMULARIO DE PAGO CON TARJETA -->
    <div id="modal-done">
        <div id="modal-content">
            <span id="modal-text">Compra exitosa de...</span>
        </div>
    </div>
<div class="container">
    <form action="">

        <div class="row">

            <div class="col">

                <h3 class="title">Dirección de Envio</h3>

                <div class="inputBox">
                    <span>Nombre Completo:</span>
                    <input id="input-name" type="text" placeholder="Maria Alonzo">
                </div>
                <div class="inputBox">
                    <span>email:</span>
                    <input id="input-email" type="email" placeholder="example@example.com">
                </div>
                <div class="inputBox">
                    <span>dirección:</span>
                    <input id="input-adress" type="text" placeholder="habitación-calle-localidad">
                </div>
                <div class="inputBox">
                    <span>Ciudad</span>
                    <input id="input-city" type="text" placeholder="Palermo">
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span>Estado:</span>
                        <input id="input-state" type="text" placeholder="Buenos Aires">
                    </div>
                    <div class="inputBox">
                        <span>zip code :</span>
                        <input id="input-code" type="text" placeholder="123 456">
                    </div>
                </div>

            </div>

            <div class="col">

                <h3 class="title">Pagos</h3>

                <div class="inputBox">
                    <span>tarjetas aceptadas :</span>
                    <img src="images/card_img.png" alt="">
                </div>
                <div class="inputBox">
                    <span>Nombre de la tarjeta :</span>
                    <input id="input-name-card" type="text" placeholder="Maria Alonzo">
                </div>
                <div class="inputBox">
                    <span>Número de tarjeta de crédito :</span>
                    <input id="input-numbercard" type="text" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>Mes de vencimiento :</span>
                    <input id="input-month" type="text" placeholder="Febrero">
                </div>

                <div class="flex">
                    <div class="inputBox">
                        <span> vencimiento :</span>
                        <input id="input-expire" type="number" placeholder="2025">
                    </div>
                    <div class="inputBox">
                        <span>CVV :</span>
                        <input id="input-cvv" type="text" placeholder="1234">
                    </div>
                </div>

            </div>
    
        </div>

        <button id="form-btn" disabled class="submit-btn">
            <div id="spinner-container">
                <div class="spinner-sm"></div>
            </div>
              <span id="button-text">Realizar pago</span>
        </button>

    </form>

</div>   



    <!-- 
FOOTER2 -->


<footer class="bg-light text-dark pt-5 pb-4"> 
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

           
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
               <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">Sobre Nosotros</h5>
               <hr class="mb-4">
               <p> En MISOAREU celebramos la belleza y la moda de la mujer moderna.Nuestro compromiso es ofrecer a todas las mujeres la oportunidad de expresar su estilo único con prendas de alta calidad y últimas tendencias. Desde 2023, nos enorgullece vestir a mujeres seguras, audaces y apasionadas por la moda. Únete a nosotros y descubre tu estilo en cada detalle.".</p>
    
             </div>
    
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">HORARIO</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Lunes a Jueves--</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 9:00pm</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Viernes a Domingo-- </a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 8:30pm</a> 
                </p>
               
            </div>


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">INFORMACIÓN</h5>
                <hr class="mb-4">
                <p>
                    <a href="../metodos/index.html" class="text-dark" style="text-decoration:none">Preguntas Frecuentes </a> 
                    <!-- metodos de pago -->
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Términos y Condiciones </a> 
                </p>
                
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">CONTACTO</h5>
                <hr class="mb-4">
                <p>
                   <li class="fas fa-home mr-3"> </li>Caracas-Venezuela <br>Centro Comercial MultiPlaza,Nivel 1 <br> Te esperamos!!
                </p>
                <p>
                    <li class="fas fa-envelope mr-3"></li> misoareum01@gmail.com
                 </p>
                 <p>
                    <li class="fas fa-phone mr-3"></li>+58 0414-127-368-9
                 </p>
                 <p>
                    <li class="fas fa-print mr-3"></li>+012 3456789
                 </p>
                 
            </div>

            <hr class="mb-4">
            <div class="row d-flex justify-content-center">
               <div>
                 <p>
                    Copyright 2023 All Rigthts Reserved By:
                    <a href="#" style="text-decoration: none;">
                       <strong class="text-info text-black"> MariaMero</strong>
                    </a>
                 </p>
               </div>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="text-center">


                    <ul class="list-unstyled">
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-facebook"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-twitter"></i> </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-instagram"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-youtube"></i> </a>
                        </li>
                    </ul>

                </div>
            
            </div>
            

    
        </div>
    
    </div>
    
</footer>



  <!-- All Js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="index.js"></script>
    
</body>
</html>