<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MISOAREU-Métodos de Pago </title>

    
     <!-- FAVICON -->
     <link rel="icon" type="image/x-icon" href="img/logoifi.png">


     <!-- All CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">



    <!-- ///// -->
    

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity=" sha384-9aIt2nRpC12Uk9gS9baD1411NQApFmC26EMAOH8WgZ15MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">





    <link rel="stylesheet" href="style.css">

</head>
<body>


    <!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

    <div class="container">

        <a href="../home/index.html" class="navbar-brand"> <span >Miso</span>Areu</a>
        <button class="navbar-toggler" type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navbarS"
           aria-controls="navbarS"
           aria-expanded="false"
           aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarS">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               
                
                 <li class="nav-item">
                    <a href="../home/index.html" class="nav-link">INICIO</a>
                 </li>
                 <li class="nav-item">
                    <a href="../blog/index.html" class="nav-link">BLOG</a>
                 </li>
            </ul>

        </div>
        </div>
</nav>







<!-- Metodos -->

<main class="vh-100 bg-light d-flex align-items-center">

       
    <!-- El contenedor de la categorias -->
<section id="principal" class="h-75 container-sm mx-auto bg-light" style ="max-width: 800px;">

<h1 class="fs-5 text-black text-center py-3">Conoce nuestros métodos de Pagos e Envios</h1>



<div class="d-flex justify-content-center align-items-center">
   <a href="../signup/index.html"><button class="btn bg-black btn-primary mx-2" type="button">Registro</button></a> 
   <a href="../login/index.html"><button class="btn bg-black btn-primary mx-2" type="button">Iniciar Sección</button></a> 
   
</div>




<!-- La primera categoria -->
<div class="accordion" id="accordionExample">

    <div class="accordion-item my-4">
        <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <i class="bi bi-credit-card"></i>
        <span class="px-3 text-info" >Pagos</span>  
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <h2 class="fs-6 fw-semibold"> Métodos</h2>
        <div class="my-2">Contamos con transferencias, pago movil, PayPal y Zelle.
            <br>Para realizar cualquier compra debes estar registrada, luego enviar capture de vuestro pago a nuestro correo misoareum01@gmail.com, una vez realizado veremos tú pedido en nuestro registro, o igualmente puedes enviar capture de lo que compro.
        </div>

        <h2 class="fs-6 fw-semibold">TARJETA</h2>
        <div class="my-2"> <a href="../tarjeta/index.html">     <button class="btn bg-black btn-primary mx-2" type="button">Pagar</button>              </a>               </div>


        <h2 class="fs-6 fw-semibold"> TRANSFERENCIA </h2>
        <div class="my-2">Banco:BBVA <br> Nombre y Apellido:Miso Areu <br> Rif: 465627-7  <br> Cuenta:1357908642135789 </div>


        <h2 class="fs-6 fw-semibold">PAYPAL</h2>
        <div class="my-2">Correo:misoareum01@gmail.com </div>


        <h2 class="fs-6 fw-semibold">PAGO MÓVIL</h2>
        <div class="my-2">Banco:BBVA <br> Nombre y Apellido:Miso Areu <br> Rif: 465627-7  <br> Telf:0412-253-789-9 </div>



        <h2 class="fs-6 fw-semibold"> ZELLE</h2>
        <div class="my-2">Correo:misoareum01@gmail.com </div>
        </div>
        </div>
        </div>


<!-- La segunda Categoria  -->




<div class="accordion-item my-4">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <i class="bi bi-truck-flatbed"></i>
    <span class="px-3 text-info">Envios</span>
    </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <h2 class="fs-6 fw-semibold">Cuando llegara mi pedido?</h2>
    <div class="my-2">Una vez realizado el pago y verificado, nos comunicamos inmediatamente con usted, para coordinar la entrega.</div>

    <h2 class="fs-6 fw-semibold">Delivery</h2>
    <div class="my-2">Contamos con delivery en Caracas; la entrega sería el mismo día</div>

    <h2 class="fs-6 fw-semibold">Hacen envios?</h2>
    <div class="my-2">Hacemos envios a nivel nacional e internacional</div>

    <h2 class="fs-6 fw-semibold"> Envían por Zoom?</h2>
    <div class="my-2">Si, enviamos por todas las surcursales que se encuentran en el pais, y que sea de su preferencia.</div>

    <h2 class="fs-6 fw-semibold">Es gratis el envio o delivery?</h2>
    <div class="my-2">El delivery es gratis dependiendo del lugar en Caracas, envios por alguna sucursal, es un costo que debe cancelar el comsumidor.</div>
    </div>
    </div>
    </div>







<!-- La tercera categoria  -->

<div class="accordion-item my-4">
<h2 class="accordion-header" id="headingThree">
<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

<i class="bi bi-arrow-return-left"></i>
<span class="px-3 text-info">Devoluciones</span>
</button>
</h2>
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
<div class="accordion-body">
<h2 class="fs-6 fw-semibold">1. ¿Dónde está mi pedido?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">2. ¿Cúando llegará mi pedido?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">3. ¿Qué hacer si no llega mi pedido?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">4. ¿Cómo sigo el envio?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">5. ¿Cúanto tiempo se demora el envio?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
</div>
</div>
</div>

<!-- La cuarta categoria  -->

<div class="accordion-item">
<h2 class="accordion-header" id="heading4">
<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
<i class="bi bi-percent"></i>
<span class="px-3 text-info">Promociones</span>
</button>
</h2>
<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
<div class="accordion-body">
<h2 class="fs-6 fw-semibold">1. ¿Dónde está mi pedido?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">2. ¿Cúando llegará mi pedido?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">3. ¿Qué hacer si no llega mi pedido?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">4. ¿Cómo sigo el envio?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
<h2 class="fs-6 fw-semibold">5. ¿Cúanto tiempo se demora el envio?</h2>
<div class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, odit.</div>
</div>
</div>
</div>


</div>




</section>

</main>



    <!-- 
FOOTER2 -->


<footer class="bg-light text-dark pt-5 pb-4"> 
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

           
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
               <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">Sobre Nosotros</h5>
               <hr class="mb-4">
               <p> En MISOAREU celebramos la belleza y la moda de la mujer moderna.Nuestro compromiso es ofrecer a todas las mujeres la oportunidad de expresar su estilo único con prendas de alta calidad y últimas tendencias. Desde 2023, nos enorgullece vestir a mujeres seguras, audaces y apasionadas por la moda. Únete a nosotros y descubre tu estilo en cada detalle.".</p>
    
             </div>
    
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">HORARIO</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Lunes a Jueves--</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 9:00pm</a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">--Viernes a Domingo-- </a> 
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Horario de atención de 8:00am a 8:30pm</a> 
                </p>
               
            </div>


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">INFORMACIÓN</h5>
                <hr class="mb-4">
                <p>
                    <a href="../metodos/index.html" class="text-dark" style="text-decoration:none">Preguntas Frecuentes </a> 
                    <!-- metodos de pago -->
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Términos y Condiciones </a> 
                </p>
                
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"> 
                <h5 class="text-uppercase text-black mb-4 font-weight-bold text-info">CONTACTO</h5>
                <hr class="mb-4">
                <p>
                   <li class="fas fa-home mr-3"> </li>Caracas-Venezuela <br>Centro Comercial MultiPlaza,Nivel 1 <br> Te esperamos!!
                </p>
                <p>
                    <li class="fas fa-envelope mr-3"></li> misoareum01@gmail.com
                 </p>
                 <p>
                    <li class="fas fa-phone mr-3"></li>+58 0414-127-368-9
                 </p>
                 <p>
                    <li class="fas fa-print mr-3"></li>+012 3456789
                 </p>
                 
            </div>

            <hr class="mb-4">
            <div class="row d-flex justify-content-center">
               <div>
                 <p>
                    Copyright 2023 All Rigthts Reserved By:
                    <a href="#" style="text-decoration: none;">
                       <strong class="text-info text-black"> MariaMero</strong>
                    </a>
                 </p>
               </div>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="text-center">


                    <ul class="list-unstyled">
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-facebook"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-twitter"></i> </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-instagram"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"> <i class="fab fa-youtube"></i> </a>
                        </li>
                    </ul>

                </div>
            
            </div>
            

    
        </div>
    
    </div>
    
</footer>






















       
    <!-- All Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    
</body>
</html>